@model MyAccounting.Data.Model.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonTell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonTell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankShaba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankShaba)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyUnit.CurrencyUnitID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PersonID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
