@model IEnumerable<MyAccounting.ViewModels.PersonDTO>

@{
    ViewData["Title"] = "اشخاص";
}

<h1>اشخاص</h1>

<p>
    <a asp-action="Create">ایجاد شخص جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyUnitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonTell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyUnitName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonTell)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonMobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PersonID">ویرایش</a> |
                    <a asp-action="Delete" asp-route-id="@item.PersonID">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
